<a href="https://colab.research.google.com/github/Mparate1234/Py_stat_DS_ML/blob/main/set%2Cif%2Celse%2Celif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#                                     29 may

In [ ]:
## set
## mutebility of set
##uniqueness
st={'a','b','c','b'}                            ## no duplicate
st

{'a', 'b', 'c'}

In [ ]:
## adding of elements in set
st={'a','b','c','d'}
print(st)

st.add('india')
print(st)

st.update('indian')                # in this only 'n' will get add cause 'india' is allready there
print(st)

st.remove('a')
print(st)

{'d', 'b', 'a', 'c'}
{'d', 'india', 'b', 'a', 'c'}
{'d', 'india', 'b', 'a', 'c', 'i', 'n'}
{'d', 'india', 'b', 'c', 'i', 'n'}

In [ ]:
ls={1,2,3,4,5,6}                                            ## normal set
print(type(ls))

stt=frozenset(ls)                                                ## frozen set
print(type(stt))

<class 'set'>
<class 'frozenset'>

In [ ]:
## no adding element to frozen set

stt.add(100)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
## no remove element fromm a set
stt.remove(3)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
## Replace

ls={1,2,3,'A','B','C','INDIA','a','b'}
print(ls) 

#ls[3]                   ## you cant fetch  the element because its order is not fix in set

ls.remove('INDIA')    
print(ls)  
ls.add('MANISH')  # insted you can do this
print(ls)

{'C', 1, 2, 3, 'B', 'b', 'a', 'A', 'INDIA'}
{'C', 1, 2, 3, 'B', 'b', 'a', 'A'}
{'C', 1, 2, 3, 'MANISH', 'B', 'b', 'a', 'A'}

In [ ]:

A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
  
# union
print("Union :", A | B)
  
# intersection
print("Intersection :", A & B)
  
# difference
print("Difference :", A - B)
  
# symmetric difference
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

In [ ]:
#control flow and functions in python

In [ ]:
#conditional: if ,else, elif
#loops: for, while,break, continue,pass
#

In [ ]:
# if and else
x=10
if x==10:
    print('value of x is 10')
else:
    print(' value of x is not 10')

value of x is 10

In [ ]:
x=9
if x==10:
    print('value of x is 10')
else:
    print(' value of x is not 10')

 value of x is not 10

In [ ]:
# if , else, elif

x=5
if x > 10:
    print('x is greter than 10')
elif x < 10:
    print ('x is smaller than 10')
else:
    print('x is equal to 10')

x is smaller than 10

In [ ]:
# even or odd using if else 
x=25
if x%2==0:
    print("x is even")
else:
    print("x is odd")

x is odd